table{
	width: 100%;
	text-align: center;
	border: 2px solid black;
	border-collapse:collapse;
	margin-top: 2%;
}
#contain {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
}
#adduck {
	background-color: blue;
	color: white;
	height: 40px;
	border-radius: 30px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
th, td {
	border:1px solid black;
	width:20%;
	height: 30px;
}
th {
	background-color: #98c2d4;
}

#bouton{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 15%;
	margin: 2%;
}
#accueil {
	background-color: blue;
	color: white;
	height: 30px;
	border-radius: 30px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
#duck {
	background-color: blue;
	color: white;
	height: 30px;
	border-radius: 30px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
#champs {
	display: flex;
	flex-direction: column;
	width: 100%;
}
#etage1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#etage1 > div, #etage2 > div{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	margin: 2%;
}
#etage2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#formulaire {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5%;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
